# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.Asset-Processor.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\adrian.woods\Documents\GitHub\Asset-Processor\.idea\.idea.Asset-Processor.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
